input, select, textarea { min-width: 220px; }

.ttlecolor {background: #515072;}

.fntcolor {color:  #c2b071;}

.colordf{background: #515072;}

.fontdf {color:  #c2b071;}

.tmprow {border:1px solid ;margin: 8px;border-color: #515072;}

.pdftitle {font-family: Arial;font-size: 60; text-align: center;}